*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / Gradle
.navigation/
.gradle/
build/
app/build/

# Zip files in workspace
*.zip

# Secrets / Environment variables
.env
*.keystore
*.jks
